
<!doctype html>
  <head>
    <title>Bootstrap Buttons</title>
    <meta name="description" content="The blue buttons of Twitter Boostrap across the web." />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />

    <meta property="og:title" content="Bootstrap Buttons" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://clayallsopp.github.com/bootstrap-buttons/" />
    <meta property="og:image" content="http://i.imgur.com/nkE6g.png" />
    <meta property="og:site_name" content="Bootstrap Buttons" />
    <meta property="og:description" content="The blue buttons of Twitter Boostrap across the web.">
    <meta property="fb:admins" content="1398782310" />
    <meta property="fb:app_id" content="509135555767317" />

    <meta name=viewport content="width=device-width, initial-scale=1.0,maximum-scale = 1.0">

    <link rel=stylesheet href='css/bootstrap.min.css'>
    <link rel=stylesheet href='css/bootstrap-responsive.min.css'>
    <link rel=stylesheet href='css/patch.css'>
    {% if page.extra_css %}
    <link rel=stylesheet href='css/{{page.extra_css}}'>
    {% endif %}
  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=509135555767317";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <a id="fork-me" href="https://github.com/clayallsopp/bootstrap-buttons" target="_blank">Fork me on GitHub</a>
    <div class="container">
      <header class="row animate-links" id="header" role="banner">
        <hr id="last" />
      </header>
      <section class="row" role="main">
          {{ content }}

          <hr />
          <div id="footer">
            <div class="row">
              <div class="span12">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-related="clayallsopp">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

              <div class="fb-like" data-href="http://clayallsopp.github.com/bootstrap-buttons/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
              </div>
            </div>
            <h1><small><a href="https://twitter.com/clayallsopp" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">@clayallsopp</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></small></h1>
          </div>
          <hr />
      </section>
    </div>

  </body>
</html>