
<!doctype html>
  <head>
    <title>Bootstrap Buttons</title>
    <meta name="description" content="The blue buttons of Twitter Boostrap across the web." />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />

    <meta property="og:title" content="Bootstrap Buttons" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://clayallsopp.github.com/bootstrap-buttons" />
    <meta property="og:image" content="http://i.imgur.com/nkE6g.png" />
    <meta property="og:site_name" content="Bootstrap Buttons" />
    <meta property="og:description" content="The blue buttons of Twitter Boostrap across the web.">
    <meta property="fb:admins" content="1398782310" />
    <meta property="fb:app_id" content="509135555767317" />

    <meta name=viewport content="width=device-width, initial-scale=1.0,maximum-scale = 1.0">

    <link rel=stylesheet href='css/bootstrap.min.css'>
    <link rel=stylesheet href='css/bootstrap-responsive.min.css'>
    <link rel=stylesheet href='css/patch.css'>
    {% if page.extra_css %}
    <link rel=stylesheet href='css/{{page.extra_css}}'>
    {% endif %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33404343-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <a id="fork-me" href="https://github.com/clayallsopp/bootstrap-buttons" target="_blank">Fork me on GitHub</a>
    <div class="container">
      <header class="row animate-links" id="header" role="banner">
        <hr id="last" />
      </header>
      <section class="row" role="main">
          {{ content }}
      </section>
    </div>

  </body>
</html>